@import "fonts/stylesheet.css";

body {
    background-color: #011F3F;
    text-align: center;
    padding: 20px;
}
h1 {
    color: #FEF2BF;
    font-family: press_start_2pregular, sans-serif;
    margin: 5%;
}
.btn {
    color: red;
    height: 125px;
    width: 125px;
    border-radius: 15%;
    border: 5px solid black;
    margin: 15px;
}
.green {
    background-color: green;
}
.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}
.blue {
    background-color: blue;
}
.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}
.game-over {
    background-color: red;
    opacity: 0.8;
}